*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "游明朝", "YuMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  background-image: url("image/sub-background.jpg");
  background-size: cover;
}
@media only screen and (max-width: 767px){
  header{
    width: 100%;
    position: fixed;
    z-index: 1000;
  }

  #top{
    display: none;
  }

    
  .question {
    display: none;
  }
     
  #top-image{
      width: 100%;
      height: 100%;
      margin-bottom: 0;
  }
    
  #pc-menu {
    display: none;
  }

  #sp-menu{
    position: fixed;
    right: -100%;
    z-index: 999;
    height: 100%;
    width: 80%;
    display: block;
    background-image: url('image/checked.jpg');
    opacity: 0.75;
    background-size: contain;
  }

  #logo{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 30%;
    height: auto;
  }

  #sp-menu>h1{
    font-size: 40px;
    color:rgb(119, 108, 48);
    text-align: center;
  }

  #sp-menu li{
    margin-top: 20px;
  }

  .list{
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px rgb(38, 37, 37);
    border-bottom: white solid 1px;
  }

  .menuBtn{
    width: 80px;
    height: auto;
    position: fixed;
    right: 0px;
    z-index: 1000;
  }

  #close{
    display: none;
  }
  
    #carousel-area ul,li{
      list-style: none;
    }

    #carousel-wrapper{
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url("image/sightseeing.jpg");
      height: 500px;
    }
    
    #prevBtn{
      color: blue;
      background-color: rgb(189, 243, 225);
      width: 120px;
      height: 50px;
      line-height:50px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 20px;
      border-color: white;
    }
    
    #carousel-area{
      width: 800px;
      height: 300px;
      overflow: hidden;
      margin: 0 5px;
    }
    
    #carousel-area ul{
      display: flex;
      margin: 0 5px;
    }
    
    #carousel-area li{
      margin: 10px 5px;
    }
    
    #carousel-area img{
      border-radius: 20px;
    }
    
    #nextBtn{
      color: blue;
      background-color: rgb(189, 243, 225);
      width: 120px;
      height: 50px;
      line-height:50px;
      font-size: 30px;
      font-weight: bold;
      border-radius: 20px;
      border-color: white;
    }
    
    button{
      width: 60px;
      height: 25px;
      border-radius: 5px;
    }
    
    footer{
      width: 100%;
      background-image:url("image/footer2.png");
      background-size: cover;
      padding: 20px;
      text-align: center;
    }
    
    #map iframe{
      margin-top: 50px;
      border-radius: 10%;
    }
    
    #aicon{
      width: 50px;
      height: 50px;
      border-radius:50%;
    }
    
    footer img{
      width: 100px;
      height: 50px;
      border-radius: 10px;
    }
    
    footer ul{
      display: flex;
      justify-content: center;
    }
    
    .links-social{
      margin: 20px 40px 40px;
    }
    
    #map,
    .links-main-pages,
    .links-sub-pages{
      margin: 40px;
    }
    
    .links-social li{
      padding: 0 10px;
    }
    
    .links-main-pages li,
    .links-sub-pages li{
      padding: 0 30px;
      border-right: solid 1px #fff;
      font-size: 14px;
    }
    
    .links-main-pages li:last-child,
    .links-sub-pages li:last-child{
      border-right: 0;
    }
    
    .links-main-pages a,
    .links-sub-pages a{
      color: #fff;
      text-decoration: none;
    }
    
    small {
      color: #fff;
    }
}